<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Plase Register Your Email</h1>
    <form action="/register" method="post">
      <div>
        <input
          type="text"
          name="username"
          id="username"
          required
          placeholder="Enter User Name"
        />
      </div>
      <br />

      <div>
        <input
          type="email"
          name="email"
          id="email"
          required
          placeholder="Enter User email"
        />
      </div>
      <br />

      <div>
        <input
          type="text"
          name="password"
          id="password"
          required
          placeholder="Enter User password"
        />
      </div>
      <br />

      <button type="submit">Register</button>
    </form>
  </body>
</html>
